body{
    font-family: 'Indie Flower', cursive;
}

h2 {
    text-align: center;
}

fieldset {
    width: 980px;
    padding: 1em;
    border: 1px solid #ccc;
    background: #f8f8f8;
    margin: 1em auto;
}

legend {
    font-weight: bold;
}

label {
    display: block;
    cursor: pointer; 

}

input[type="text"] {
    width: 20em;
}

textarea {
    width: 20em;
    height: 10em;
}

.radio {
    margin-right: 1em;
}